@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    340deg,
    #3c3f3f,
    #545151,
    #605e63,
    #b6acb7fa,
    #787378,
    #232223,
    #9d9c9c
  );
  font-family: "Playfair Display", serif;
  background-size: 200%;
  animation: animacionfondo 20s infinite;
}
.title {
  width: 90px;
  height: 90px;
  display: flex;
  animation: floating 10s ease-in-out infinite;
  cursor: pointer;
  transition: 1s;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 90vh;
}
.head {
  display: flex;
}
.estudents {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.shields {
  display: flex;
  justify-content: center;
  gap: 70px;
  width: 100%;
  height: 150px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 20px #000;
  cursor: pointer;
}

.casa {
  transition: transform 0.2s;
}
.casa:hover {
  transform: scale(1.2);
}
/*tarjetas estudiantes*/
.estudents{
  display: flex;
  flex-direction: row;
  gap: 10px;
  
  
}
.card {
  position: relative;
  align-items: center;
  width: 200px;
  height: 250px;
  box-shadow: 0 5px 10px #000;
  background: #565556;
  border-color: 5px solid #fff;
  border: 10px solid #9d9c9c;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #787378;
  text-align: center;
}
.card p {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}
/* Keyframes */
@keyframes animacionfondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes floating {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
